<div class="container">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10 offset-1">
      <h4>マイページ</h4>
    </div>
  </div>

      <br>
      <br>

  <div class="row">
    <div class="col-md-6">
      <h4>登録情報</h4>
        <%= link_to "編集する", public_customers_edit_path, class: 'btn btn-primary' %>
        <%= link_to "パスワードを変更する", new_customer_password_path, class: 'btn btn-primary' %>

      <br>
      <br>

      <table class="table table-bordered">
        <tr>
          <th>名前</th>
          <td><%= @customer.last_name %>　<%= @customer.first_name %></td>
        </tr>
        <tr>
          <th>フリガナ</th>
          <td><%= @customer.last_name_kana %>　<%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <th>郵便番号（ハイフンなし）</th>
          <td><%= @customer.postal_code %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <th>電話番号（ハイフンなし）</th>
          <td><%= @customer.telephone_number %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>
      </table>

      <br>
      <br>

      <h4>配送先</h4>
        <%= link_to "一覧を見る", public_addresses_path, class: 'btn btn-primary' %>
      <br>
      <h4>注文履歴</h4>
        <%= link_to "一覧を見る", public_orders_path, class: 'btn btn-primary' %>

    </div>
  </div>
</div>
