<div class="container">

  <div class="row">
    <div class="col-md-4">
      <h4>商品詳細</h4>
    </div>
  </div>

  <br>
  <br>

  <div class="row">
    <div class="col-md-4">
        <%= attachment_image_tag @item, :image, :fill, 300, 200, format: 'jpeg' %>
    </div>

    <div class="col-md-6">
      <table class="table table-borderless">
        <tr>
          <th>商品名</th><td><%= @item.name %></td>
        </tr>
        <tr>
          <th>商品説明</th><td><span class="dwrap"><%= @item.introduction %></span></td>
        </tr>
        <tr>
          <th>ジャンル</th><td><%= @item.genre.name %></td>
        </tr>
        <tr>
          <th>税込価格（税抜価格）</th><td><%= (@item.price.to_i * 1.1).floor %>  (<%= @item.price %>) 円</td>
        </tr>
        <tr>
          <th>販売ステータス</th>
          <td><% if @item.is_active == true %>
                <p>販売中</p>
              <% else %>
                <p>販売停止中</p>
              <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
    </div>
    <div class="col-md-4 offset-1">
    	<%= link_to '編集する', edit_admin_item_path(@item.id), class: 'btn btn-md btn-primary' %>
    </div>
  </div>

</div>

<style>
  .dwrap{
    width: 50px;
    overflow-wrap: break-word;
    word-wrap:break-word;
  }
</style>
